@import "./config";
.myResume {
  width: 100%;
  background: url("../image/home-services-halftone.png") repeat;
  background-color: white;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      text-align: center;
      height: 4rem;
      width: 20rem;
      padding-top: 1rem;
      background-image: url("../image/resume-halftone.png");
      font-size: 2rem;

      @include iphone(){
        margin-top: 3rem;
      }
    }

    &__timelines {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @include iphone() {
        flex-direction: column;
      }

      & h3 {
        font-size: 1.5rem;
      }

      .timeline {
        border-left: 2px solid black;
        padding: 1rem 0;
        margin-right: 4rem;

        @include ipad() {
          margin-right: 1rem;
        }

        &__item {
          width: 20rem;
          position: relative;
          padding: 1rem;
          margin-left: 1.5rem;
          margin-bottom: 1.5rem;
          background: url(../image/homepage-dust.svg) repeat;
          opacity: 0.9;
          border-left: 2px solid black;
          background-color: white;
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
          background-size: contain;
          color: black;

          @include ipad() {
            width: 17rem;
          }

          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            background-color: white;
            border-radius: 10px;
            width: 12px;
            height: 12px;
            border: 2px solid #ffda00;
            left: -2.1rem;
            top: 2.3rem;
          }

          & h4 {
            font-size: 1rem;
            line-height: 1rem;
            font-weight: bold;
            margin-bottom: 0.4rem;
            margin-top: 0;
          }

          & span {
            font-size: 0.7rem;
            color: #2eca7f;

            a {
              text-decoration: none;
              &:visited {
                color: #2eca7f;
              }
              &:link{
                color: #2eca7f;
              }
            }
          }

          & p {
            font-size: 0.9rem;
            margin-top: 0.4rem;
            color: grey;

            &:after {
              content: "";
              position: absolute;
              background-color: #ffda00;
              width: 1.2rem;
              height: 2px;
              left: -1.3rem;
              top: 2.75rem;
            }
          }
        }
      }
    }
  }
}
